/* Header styles */
.header {
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid black;
}

.header a {
    color: black;
    font-size: 12.5pt;
    text-decoration: none;
    padding: 8px;
    white-space: nowrap;
}

.header a:hover {
    color: forestgreen;
}

.header-tabs {
    font-family: 'Optima';
    text-align: center;
    line-height: 150%;
}

.header-center {
    text-align: center;
    height: 130px;
}

.header-center a.logo {
    font-family: Century;
    font-size: 84pt;
    font-weight: bold;
    color: forestgreen;
}

.header-center a.logo:hover {
    color: forestgreen;
}

.header-sub {
    text-align: center;
    font-style: italic;
    font-size: 16pt;
    margin-bottom: 20px;
}


/* Website body */
.text {
    font-family: 'Optima';
    width: 50%;
    padding-left: 25%;
}

.text h1, .text h2, .text h4 {
    color: forestgreen;
}

.text img {
    max-width: 100%;
}

.center-table {
    margin-left: auto;
    margin-right: auto;
    width: min-content
}

td {
    padding: 5px;
    text-align: left;
    width: 500px;
}

tr{
    padding: 0px;
    text-align: top;
    background-color:#ffffff
}

div.scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

/* Homepage styles */
.home {
    width: 80%;
    padding-left: 10%;
}

.home img {
    padding-top: 30px;
    max-width: 40%;
    float: left;
}

.home-right {
    padding-left: 50%;
}

